body{
    background-color: 	#303030;
    color: whitesmoke;
    width: 1200px;
    display: flex;
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
}

#borderbox{
    position: relative;
    border: 1px solid whitesmoke;
    width: 1200px;
    height: 741.6564px;
    margin-top: 10px;
}

p{
    position: absolute;
    top: 559.5px;
    font-family: 'Poppins', sans-serif;
}

#finaltext{
    position: absolute;
    top: 172px;
    left: 865px;
    color: whitesmoke;
    animation: changeColour ease 10s;
    animation-fill-mode: forwards;

}

#line1{
    position: absolute;
    top: 0px;
    left: 741.6564px;
    border-left: 5px solid whitesmoke;
    height: 0px;
    animation: grow1 3s;
    animation-fill-mode:forwards;
}

#line2{
    position: absolute;
    top: 283.87px;
    left: 741.6564px;
    border-top: 5px solid whitesmoke;
    width: 0px;
    animation: grow2 3s;
    animation-fill-mode:forwards;
    animation-delay:1s;
}

#line3{
    position: absolute;
    /*top: 0px;*/
    top: 283.875px;
    left: 917.418px;
    border-left: 5px solid whitesmoke;
    height: 0px;
    animation: grow3 3s;
    animation-fill-mode:forwards;
    animation-delay:2s;
}

#line4{
    position: absolute;
    top: 175.762px;
    /*left: 741.6564px;*/
    left: 920px;
    border-top: 5px solid whitesmoke;
    width: 0px;
    animation: grow4 3s;
    animation-fill-mode:forwards;
    animation-delay:3s;
}

#line5{
    position: absolute;
    top: 175.762px;
    left: 848.0305px;
    border-left: 5px solid whitesmoke;
    height: 0px;
    animation: grow5 3s;
    animation-fill-mode:forwards;
    animation-delay:4s;
}

#line6{
    position: absolute;
    top: 214.4455px;
    left: 848.0305px;
    border-top: 5px solid whitesmoke;
    width: 0px;
    animation: grow6 3s;
    animation-fill-mode:forwards;
    animation-delay:5s;
}

#final{
    position: absolute;
    top: 180.762px;
    left: 852px;
    background-color: greenyellow;
    width: 65.25px;
    height: 34.25px;
    animation: fadeIn ease 10s;
    animation-fill-mode:forwards;
}

#navcontainer{
    position: absolute;
    top: 180px;
    border-bottom: 1px solid whitesmoke;
    width: 742px;
    height: auto;
    display: flex;
    justify-content: stretch;
    padding: 0px;
}

#headerbox{
    width: 740px;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 0px;
}


.header-item{
    display: flex;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
}

#nav-item{
    display: flex;
    margin-right:auto;
    border-left: 1px solid whitesmoke;
}

#nav-item{
    display: flex;
    margin-right:auto;
    border-left: 1px solid whitesmoke;
}

#nav-item{
    display: flex;
    margin-right:auto;
    border-left: 1px solid whitesmoke;
}

.navigation-all{
    position: relative;
}

.nav-dropdown{
    display: none;
    position: absolute;
    z-index:1;
    width: auto;
}

.nav-dropdown a{
    display: block;
    text-decoration: none;
    color: whitesmoke;
    padding-top: 50px;
}

.nav-dropdown a:hover{

    color:greenyellow;
    font-weight: bold;
}

.navigation-all:hover .nav-dropdown{
    display: block;
}

@keyframes grow1{
    100%{
        height: 741.6564px;
    }
}

@keyframes grow2{
    100%{
        width: 459.5203px;
    }
}

@keyframes grow3{
    100%{
        height: 283.875px;
        top: 0px;
    }
}

@keyframes grow4{
    100%{
        width: 176.0647px;
        left: 741.6564px;
    }
}

@keyframes grow5{
    100%{
        height: 109px;
    }
}

@keyframes grow6{
    100%{
        width: 70px;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    75%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes changeColour{
    0%{
        color: whitesmoke;
    }

    75%{
        color: whitesmoke;
    }

    100%{
        color: black;
    }
}
