article{
    width: 400px;
    margin: auto;
    border-left: solid white 1px;
    padding: 10px
}

h1{
    font-size: 36px;
    font-family: 'Mate', serif;

}

h2{
    font-family: 'Mate SC', serif;
    color: lightgreen;
}

p{
    line-height: 1.7em;
    font-family: 'Gothic A1', sans-serif;
}
body{
    background-color: rgb(34, 33, 33);
    color: white;
}
    
a{
    color: white;
    font-style: none;
}

a:hover{
    color: lightgreen
}

img{
    width: 400px;
    height: 300px;
    object-fit: contain;
}